spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: myphamskincares@gmail.com
    password: mpckijfvlqsvvwds
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  main:
    allow-circular-references: true
  datasource:
    url: jdbc:mysql://localhost:3306/elearning_user
    username: root
  #    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  application:
    name: user-service

server:
  port: 8086